@font-face {
  font-family: 'Friz Quadrata Std';
  src: local('Friz Quadrata Std'), url('./fonts/friz_quadrata_std_medium_.otf') format('opentype')
}

@font-face {
  font-family: 'Aller';
  src: local('Aller'), url('./fonts/Aller_Std_Rg.ttf') format('truetype');
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(238,234,223,1);
}

html {
  font-family: 'Aller', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-font {
  font-family: 'Friz Quadrata Std';
	overflow: visible;
	font-style: normal;
	font-weight: bold;
	font-size: 68px;
	color: rgba(92,142,41,1);
	letter-spacing: 0.2px;
	text-transform: capitalize;
}

.subtitle-font {
    font-family: Aller;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(0,0,0,1);
    text-transform: capitalize;
}
